/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; /* make sure it is at least as tall as the viewport */
  width: 100vw;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  height: 100%; /* force the BODY element to match the height of the HTML element */
  width: 100vw;
  background: -moz-linear-gradient(-45deg,  #EA5C54  0%, #bb6dec 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#EA5C54 ), color-stop(100%,#bb6dec)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #EA5C54  0%,#bb6dec 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #EA5C54  0%,#bb6dec 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #EA5C54  0%,#bb6dec 100%); /* IE10+ */
  background: linear-gradient(135deg,  #EA5C54  0%,#bb6dec 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EA5C54 ', endColorstr='#bb6dec',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color:#343a40;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0; /*Keeps the Containers from hiding behined menu*/
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}



/* App Desktop View */
#desktopAppView .row, .container{
  width:100vw;
  float: left;
}

.boxA{
  border-style: solid;
  border-color: #ffffff; 
  height: 100vh;
  width: 33%;

}
.boxA .btn-group{
  margin: 0px auto;
}
.boxB{
  border-style: solid;
  border-color: #ffffff;
  height: 100vh;
  width: 33%;
}

.boxB .card{
  margin: 5px auto;
  background-color: #35394a;
  color: #ffffff;
  text-align: center;
  min-width: 75%;

}
.boxB .card-body{ /*Content inside of Card / Text & Stuff */
  padding-left: 5px;
  padding-right: 5px;
}
.boxB .progress{
  margin-bottom: 5px; 
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  height: 25px;
}
/*
.boxB .custom-select {
  font-size: 20px;
  font: bold;
  color: #ffffff;
  background-color: #343a40;
}
*/ 
.boxBsubmit{
  background-color: #2bbbad;
}
.boxC{
  border-style: solid;
  border-color: #ffffff;
  height: 100vh;
  width: 33%;
}